* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    min-width: 1000px;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

/*#region debug*/

.debug {

    .iltuopostoperparlare {
        background-color: blue;
        border: 1px dashed red;
    }

    .canali,
    .fandom {
        background-color: white;
        border: 1px dashed red;

    }

    .comodo {
        background-color: white;
        border: 1px dashed red;

    }

    .footer {
        background-color: black;
        border: 1px dashed red;
    }

    .footer_bottom {
        background-color: black;
        border: 1px dashed red;
    }

    .tecnologia-affidabile {
        background-color: lightgrey;
        border: 1px dashed red;
    }

    .searchbar {
        background-color: lightyellow;
        border: 1px dashed red;
    }

    .container {
        border: 1px dashed red;
        background-color: darkmagenta;
    }

    .pic_container {
        background-color: lightgreen;

    }

    .text_container {
        background-color: lightblue;

    }

    .sidebar {
        background-color: pink;
        border: 1px dashed red;
    }

    .columns {
        background-color: aqua;
        border: 1px dashed red;
    }

    .searchbar_footer {
        background-color: aquamarine;
        border: 1px dashed red;
    }

}

/*#endregion debug*/

/*#region container 1*/
.jumbo_sfondo {
    display: flex;
    background-image: url(./img/jumbo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
}

.canali,
.fandom {
    min-height: 100px;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 50px 0;

}

.comodo {
    min-height: 100px;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    background-color: #f6f6f6;
}

.footer {
    min-height: 200px;
    display: flex;
    justify-content: center;
}

.footer_bottom {
    min-height: 50px;
}

.tecnologia-affidabile-section {
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    background-color: #f6f6f6;
}

/*#endregion container*/

/*#region container2*/

/*header top*/
.searchbar {
    display: flex;
    justify-content: space-between;
    background-color: #3161e0;
    padding-top: 1rem;
    padding-bottom: 1rem;

    .logo {
        margin-left: 200px;
    }

}

.login button {
    border-radius: 2rem;
    padding: 10px;
    margin-right: 200px;
    border: 0;
}

.actions {
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding: 10px 20px;
    font-size: large;
}

.container {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;



    .il_tuo_posto_per_parlare {
        font-size: x-large;
    }

    .paragraph {
        font-size: x-large;
        line-height: 30px;
        padding-top: 3rem;
        text-align: center;
        margin-bottom: 30px;
    }

    .paragraph1 {
        font-size: large;
        line-height: 20px;
        padding-top: 1rem;
        text-align: center;
        margin-bottom: 30px;
        color: black;
    }

    .tecnologia {
        color: black;
    }

    .pronto-a-iniziare {
        color: black;
        font-size: x-large;
        background-image: url(./img/stars.svg);
        background-size: 100% 100%;
        padding-top: 70px;
    }
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

}

.scarica,
.apri {
    border-radius: 4rem;
    font-size: larger;
    padding: 20px 30px;
    border: 0;
    gap: 2rem;
}

.scarica-end {
    border-radius: 4rem;
    font-size: larger;
    padding: 10px 30px;
    border: 0;
    margin-top: 30px;
    background-color: #3160e06a;
    color: white;

}

.apri {
    background-color: #23272a;
    color: white;
}

/*fine header top*/

/*inizio main*/

.searchbar link {
    justify-content: space-evenly;
}

.section-container {
    display: flex;
    align-items: start;
    width: 1250px;
}

.pic_container {
    margin-top: 30px;
    margin-bottom: 10px;
    min-width: 200px;
}

.text_container {
    margin-top: 30px;
    margin-left: 100px;
    color: black;
    text-align: left;
    width: 300px;
    font-size: large;

    p {
        margin-top: 20px;
        line-height: 25px;
    }

}

.section-container1 {
    display: flex;
    flex-direction: row-reverse;
    align-items: start;
    width: 1250px;
}

.sidebar {
    min-width: 100px;
    min-height: 200px;
}

.columns {
    min-width: 60px;
    min-height: 200px;
}

.searchbar_footer {
    margin: 10px 300px;
    display: flex;
    justify-content: space-between;
}

/*#endregion container2*/