* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    min-width: 1000px;
    height: 100%;
}

.header_top {
    background-color: aquamarine;
    border: 1px dashed red;

}

.searchbar {
    margin: 10px 60px;
    background-color: lightyellow;
    display: flex;
    justify-content: space-between;
    border: 1px dashed red;
}

.searchbar link {
    justify-content: space-evenly;
}

.header {
    min-height: 100px;
    background-color: blue;
    border: 1px dashed red;
}

.container {
    margin: 20px 100px;
    border: 1px dashed red;
    background-color: darkmagenta;
    display: flex;
    justify-content: center;
    min-height: 100px;
}